body{
    font-family: Poppins;
}
/* styling section first */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191A19;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 158px;
}
.nav-ul{
    display: flex;
}

.nav-ul-a, .nav-selection{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 44px;
}

.nav-selection{
    background-color: #191A19;
    border: none;
}
.nav-btn{
    background-color: #FF7420;
    color: #FFFFFF;
    width: 194px;
    height: 66px;
    border-radius: 15px;
    margin-left: 30px;
    border: none;
}
.active{
    color: #FF7420;
    border-bottom: 3px solid #FF7420;
}
.section-1{
    background-image: url('../images/photo_construction-workers-surveying-site.svg');
    width: 100%;
    height: 936px;
    background-size:cover;
    margin-top: 158px;
    background-color: #FF7420;
    background-position: center;
    padding-left: 109px;
    padding-top: 154px;
}

.section-1-h{
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #FFFFFF;
}
.section-1-h-line2{
    padding-bottom: 24px;
 
}
.future{
    color: #FF7420;
}
.section-1-p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    width: 586px;
    padding-bottom: 85px;
}
.btn-orange{
    height: 66px;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    background-color: #FF7420;
    color: #FFFFFF;
    margin-right: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    border: none;
    cursor: pointer;

}
.btn-orange-content{
    display: flex;
}
.right-arrow{
    margin-left: 12px;
}

.btn-white{
    height: 66px;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    background-color: #FFFFFF;
    color: #FF7420;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    border: none;
    cursor: pointer;
}

/* styling second section  */

.section-2{
    background-color: #FF7420;
    display: flex;
    justify-content: center;
}
.section-2 div{
    width: 1500px;
}
.section-2-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 54px;
    padding-bottom: 49px;
}
.section-2-ul{
    display: flex;
}
.section-2 h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}

.section-2-a{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 24px;
}
.active-2{
    color: #191A19;
    border-bottom: 3px solid #191A19;
}
.section-2-img-container{
    display: flex;
    justify-content: center;
    column-gap: 19px;
    text-align: center;
}
.section-2-img-container div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
}
.section-2-component1{
    background-image: url(../images/image-1.png);
    height: 613px;
    width: 485px;

}
.section-2-component2{
    background-image: url(../images/image-2.png);
    height: 613px;
    width: 485px;
}
.section-2-component3{
    background-image: url(../images/image-3.png);
    height: 613px;
    width: 485px;
}
.section-2-img-container h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
}

.section-2-img-container p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.section-2-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 13px;
    /* margin-right: 123px;     */
}
.section-2-p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; 
}   

/* styling section 3 */

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191A19;
    color: #FFFFFF;
}
.section-3-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section-3-content h3{
    margin-top: 52px;
    margin-bottom: 28px;
    color: #FF7420;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}
.section-3-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 1067px;
    margin-bottom: 14px;
}
.section-3-content h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.section-3-content h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.section-3-content h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}
/* styling form */
.section-form{
    background-image: linear-gradient(#412c20, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}  
.section-form-content{
    margin-top: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.form-container{
    width: 963px;
    border-radius: 15px;
    background-color: #FF7420;
    margin-right: 41px;
}
.form-container-content{
    margin: 45px 53px;
}
.form-container h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 24px;
}
.form-container p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 19px;
}
.contact-us{
    width: 499px;
    border-radius: 15px;
    background-color: #FF7420;

}
.form-content input, .form-container select{
    height: 76px;
    width: 419px;
    border-radius: 15px;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 65px;
    color: #191A1980;
    appearance: none;
}
.right{
    margin-right: 14px;
}
.form-container select{
    padding-right: 34px;
    background-image: url('../images/down-arrow.svg');
    background-repeat: no-repeat;  
    background-position: 90%; 
}

.form-container textarea{
    height: 148px;
    width: 856px;
    left: 53px;
    top: 368px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #191A1980;
    resize: none;
    padding: 23px 64px;
    margin-bottom: 24px;
}
 
.form-container button{
    height: 76px;
    width: 856px;
    left: 53px;
    top: 540px;
    border-radius: 15px;
    background-color: #191A19;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}
/* styling contact information */